*
!engine/
!engine/**/
!ui/
!ui/**/
!.vscode/
!.vscode/**/
!workspace/
!workspace/**/
!*.py
!*.md
!*.txt
!*.jpg
!*.png
!*.psd
!*.ttf
!*.npy
!*.toml
!*.html
!*.css
!*.js
!*.json
!*.yaml
!*.yml
!requirements*
!Dockerfile*
!scripts/
!scripts/**/
!*.sh
!.gitkeep
!uv.lock
__pycache__/